.app-container {
  min-height: 100vh;
  background: var(--bg);
  font-family: 'Space Mono', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 3px;
  border: 1px solid var(--border);
}

.app-header {
  background: var(--panel);
  padding: 30px 20px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  border: 1px solid var(--border);

  display: flex;
  justify-content: center;
  align-items: center;
}

.app-header h1 {
  margin: 0 0 10px 0;
  font-size: 2.5em;
  font-weight: 600;
}

.app-header p {
  margin: 0;
  font-size: 1.1em;
}

.main-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 100px;
}

.header-text {
  text-align: center;
}

.utn-logo {
  filter: invert(1) opacity(0.8);
  width: 200px;
  margin-right: 84px;
}

@media (min-width: 768px) {
  .main-content {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 767px) {
  .app-header h1 {
    font-size: 1.8em;
  }
  
  .app-header p {
    font-size: 1em;
  }

  .utn-logo {
    margin-right: 34px;
  }
}
