version: "3.9"

services:
  backend:
    build: ./backend
    container_name: image-search-backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: image-search-frontend
    ports:
      - "4200:4200"
    depends_on:
      - backend
    restart: unless-stopped
